@model ManejoPresupuesto.Models.TipoCuenta


@{
    ViewData["Title"] = "Crear Tipo de Cuenta";
}


<h1>Crear Tipo de Cuenta</h1>

<h5>Un tipo de cuenta se refiere a una clasificación específica dentro de un sistema contable o bancario. </h5>

<div asp-validation-summary="ModelOnly" class="text-danger"></div> @* ==> Validación de errores en el modelo *@

<form asp-controller="TiposCuentas" asp-action="Crear" method="post">
    <div class="form-group">
        <div class="mb-3">
            <label asp-for="Nombre"></label>
            <input type="text" asp-for="Nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary mt-3">Crear</button>

</form>


@* seccion Scripts *@
@section scripts {
    <partial name="_ValidationScriptsPartial" />
}